@import "tailwindcss";

body{
  @apply bg-[#f5f3f8] max-w-[1440px]
}
.mainDiv{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50%;
  height: 70%;
  background:  hsl(264, 100%, 61%);
  border-radius: 0 0 250px 0;
  z-index: 0;
}

header{
  background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-radius: 24px 24px 5px 5px;
}
.option{
  background: linear-gradient(to right,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}
.phone{
  position: absolute;
  top: 50px;
  left: 100%;
  transform: translateX(-50%);
}